@import 'tailwindcss';

.section-container {
	@apply border-1;
}

.glass-container {
	@apply relative overflow-y-auto border border-white/1 text-black/70 shadow-md backdrop-blur-lg transition-all rounded-2xl overflow-hidden;
}

.glass-section {
	@apply mb-6 px-4 pt-2 pb-4;
}

.section-title {
	@apply border-b-1 border-black/10 mb-2 text-black text-shadow-sm/10 text-xl py-1;
}

.glass-card {
	@apply px-1 rounded-2xl;
}

.glass-sidebar {
	@apply px-5 w-50 h-9/12;
}

.glass-button {
	@apply px-6 py-3 rounded-full hover:shadow-md;
}

.glass-footer {
	@apply p-2;
}
