@import "tailwindcss";

@keyframes gradient-xy {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.animate-gradient-xy {
  @apply bg-gradient-to-br;
  background-size: 200% 200%;
  animation: gradient-xy 15s ease infinite;
}

.glass-container {
  @apply relative border border-black/30 bg-gradient-to-br from-white/5 via-white/3 to-white/2 text-black/70 shadow-sm backdrop-blur-2xl transition-all rounded-4xl;
}

.outer-glass-container {
  @apply bg-gray-50 pt-30 px-10 my-10 mx-20;
}

.glass-menu {
  @apply fixed top-6 left-1/2 transform -translate-x-1/2 z-30 bg-white/20 border border-white/20 rounded-full px-8 py-3 flex justify-around items-center;
}

.glass-menu-item {
  @apply relative text-black z-10 py-2 px-4 flex justify-center items-center;
}

.glass-menu-span {
  @apply absolute bg-sky-200/40 h-full rounded-full transition-all duration-300 ease-linear -z-10;
}

.glass-section {
  @apply mb-6 px-5 py-4;
}

.section-title {
  @apply border-b-1 mb-3;
}

.glass-card {
  @apply px-10 py-2 rounded-2xl;
}

.glass-sidebar {
  @apply my-30 mx-10 px-5 py-8;
}

.glass-button {
  @apply px-6 py-3 rounded-full hover:shadow-md;
}

.glass-footer {
  @apply bg-white/10 border border-white/20 shadow-lg backdrop-blur-lg backdrop-saturate-150 p-2;
}
