@import 'tailwindcss';

body {
	@apply font-serif bg-[#F8F9FA] text-[#292721] text-base/7;
}

.section-sidebar {
	@apply ms-20 py-[30];
}

.section-title {
	@apply font-light uppercase tracking-widest text-[#343A40] mb-6 text-xl;
}

.section-container {
	@apply ms-[100] pb-[40];
}

.skill-row {
	@apply mb-[20] flex justify-start flex-wrap gap-4 items-center;
}

.skill-item {
	@apply bg-[#E9ECEF] px-3 py-2 rounded-full text-sm flex items-center justify-start gap-1;
}

.logo {
	font-family: 'Hurricane', cursive;
	font-weight: 700;
	font-style: normal;
	font-size: 32px;
	text-transform: uppercase;
}

.logo-creative {
	background: linear-gradient(to right, #4a4a4a, #292721);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;

	transition: opacity 0.3s ease;
}

.logo-creative:hover {
	opacity: 0.8;
}
