@import 'tailwindcss';

body {
	@apply font-serif bg-[#F8F9FA] text-[#292721] text-base/7;
}

.section-sidebar {
	@apply ms-20 py-[30];
}

.section-title {
	@apply font-serif border-b border-gray-400 pb-1 mb-3 text-base text-shadow-lg font-semibold w-fit;
}

.section-container {
	@apply ms-[100] ps-[20] pt-[40] w-full;
}

.skill-row {
	@apply mb-[20] flex justify-start flex-wrap gap-4 items-center;
}

.skill-item {
	@apply bg-[#E9ECEF] px-3 py-2 rounded-full text-sm flex items-center justify-start gap-1;
}
