@import 'tailwindcss';

body {
	@apply font-mono text-sm;
}

.section-sidebar {
	@apply border-1 ms-[100px] mt-[100] py-[30] px-[50];
}

.section-title {
	@apply font-serif border-b border-gray-300 pb-2 mb-2 text-base text-shadow-md font-semibold w-fit;
}

.section-container {
	@apply ms-[100] px-[100] pt-[50] border-1 w-full;
}

.skill-row {
	@apply mb-[20] flex justify-start flex-wrap gap-4 items-center;
}

.skill-item {
	@apply bg-gray-100 px-3 py-2 rounded-full text-sm flex items-center justify-start gap-1;
}
