@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  @keyframes gradient-xy {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  .animate-gradient-xy {
    @apply bg-gradient-to-br;
    background-size: 200% 200%;
    animation: gradient-xy 15s ease infinite;
  }
}

@layer components {
  .glass-container {
    @apply relative border border-black/30 bg-gradient-to-br from-white/5 via-white/3 to-white/2 text-black/70 shadow-sm backdrop-blur-2xl transition-all;
  }

  .glass-menu {
    @apply fixed top-6 left-1/2 transform -translate-x-1/2 z-30 bg-white/10 backdrop-blur-2xl border border-white/20 rounded-full px-8 py-3 shadow-2xl flex justify-around items-center w-xl;
  }

  .glass-menu-item {
    @apply relative text-black z-10 py-2 px-4 flex justify-center items-center;
  }

  .glass-menu-span {
    @apply absolute bg-white/30 backdrop-blur-lg h-full rounded-full transition-all duration-250 ease-linear -z-10;
  }

  .glass-section {
    /* @apply; */
  }

  .glass-card {
    /* @apply; */
  }

  .glass-sidebar {
    /* @apply; */
  }

  .glass-button {
    /* @apply px-6 py-3 rounded-full hover:shadow-md; */
  }
}
